* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
    background-color: #333;
    
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  color: rgb(232, 233, 235);
}

main h1 {
  font-size: 80px;
  margin-top: 50px;
  margin-bottom: 50px;
}

ul li {
  list-style: none;
}

button {
  width: 150px;
  padding: 10px 30px;
  margin: 15px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}

footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  background-color: #252525;
  padding: 20px;
  width: 100%;
  color: rgb(232, 233, 235);
  font-weight: bold;
  font-size: 24px;
}

#container {
  border: 4px solid rgb(2, 9, 17);
  border-radius: 10px;
  width: 770px;
  height: auto;
  margin: 0;
  padding: 10px;
  display: flex;
}

.menu {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-right: 4px solid rgb(2, 9, 17);
  margin-right: 20px;
}

.board {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 4px outline rgb(15, 90, 189); 
}

.input-size {
  width: 150px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  margin-left: 15px;
}
